@{
    Layout = "~/Views/Shared/_Masterlayout.cshtml";
}
<html>
<head>
    <title>Validate</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script language="JavaScript">
 // Lấy giá trị của một input : bỏ khoảng trắng 2 đầu
 function getValue(id) {
 return document.getElementById(id).value.trim();
 }
 // Hiển thị lỗi
 function showError(key, mess) {
 document.getElementById(key + '_error').innerHTML = mess;
 }
 // kiểm tra lỗi
 function validate() {
 var flag = true;
 // 1 username
 var username = getValue('username');
 if (username == '' || username.length < 5 || !/^[a-zA-Z0-9]+$/.test(username)) {
 flag = false;
 showError('username', 'Vui lòng kiểm tra lại Username');
 }
 // 2. password
 var password = getValue('password');
 var repassword = getValue('repassword');
 if (password == '' || password.length < 8) {
 flag = false;
 showError('password', 'Vui lòng kiểm tra lại Password');
 }
 // 3. repassword
 var repassword = getValue('repassword');
 if (password != repassword) {
 flag = false;
 showError('repassword', 'Vui lòng kiểm tra nhập lại Password');
 }
 return flag;
 }
    </script>
</head>
<body>
    <form>
        <table border="1" cellpadding="10">
            <tr><th colspan="2" style="text-align: center;"><h4>Đăng ký</h4></th></tr>
            <tr>
                <td>Tên đăng nhập: </td>
                <td>
                    <input type="text" id="username" name="username" value="" />
                    <span id="username_error"></span>
                </td>
            </tr>
            <tr>
                <td>Mật khẩu: </td>
                <td>
                    <input type="text" id="password" name="password" value="" />
                    <span id="password_error"></span>
                </td>
            </tr>
            <tr>
                <td>Nhập lại mật khẩu: </td>
                <td>
                    <input type="text" id="repassword" name="repassword" value="" />
                    <span id="repassword_error"></span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" onclick="return validate();" id="btn" name="btn"
                           value="Đăng ký" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>


