@{
    Layout = "~/Views/Shared/_Masterlayout.cshtml";
}

<html>
<head>
    <title>Chào mừng đến trang của chúng tôi</title>
    <script src="~/Scripts/myScript/UserScript.js"></script>
</head>
<body>
    <script language="Javascript">
        var Name, Age; //Khai báo tên tuổi
        Name = prompt("Vui lòng điền tên của bạn: ", "");
        Age = prompt("Vui lòng điền tuổi của bạn: ", "");
        document.write("Hello <b>" + Name + "</b>");
        document.write("</br>");
        document.write("Your age is <u>" + Age + "</u>");
        document.write("</br>");
        Homnay();
    </script>
    
</body>
</html>

