@{
    Layout = "~/Views/Shared/_Masterlayout.cshtml";
}

<style type="text/css">
    #banner {
        background-image: url(https://preview.redd.it/t1s-worlds-2023-skins-splashart-v0-obauvolst2gd1.jpeg?auto=webp&s=2dbbb77194d92f627b6c05619482ee211c42412f);
        background-size: cover;
        background-position: center;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        color:whitesmoke;
    }
    .banner-content{
        text-align:center;
        color:navajowhite;
    }
    .banner-content h2{
        font-size:2.5rem;
    }
    .banner-content p{
        font-size:1.8rem;
    }
    .btn{
        display:inline-block;
        padding: 5px 20px;
        background-color:indianred;
        color:white;
        text-decoration:none;
        font-weight:bold;
    }
    #featureProd{
        text-align:center;
    }
    #featureProd h2{
        font-size:2rem;
        margin-bottom: 20px;
    }
    .prodContainer{
        display:flex;
        justify-content:center;
        gap:10px;
    }
    .product-item{
        width:200px;
    }
    .product-item h3{
        font-size:16px;
        color:black;
        margin:10px 0px;
    }
    .prodDescription{
        font:arial;
        font-size:20px;
        color:lightblue;
    }

    .prodPrice {
        font: arial;
        font-size: 10px;
        color: lightgray;
    }
</style>
<section id="banner">
    <div class="banner-content">
        <h2>WELCOME TO OUR SHOPPING SITE</h2>
        <p>THE BEST STORE EVER</p>
        <a href="#" class="btn">START SHOPPING NOW</a>
    </div>
    </section>

    <section id="search" class="content-section">
    </section>
    <section id="featureProd" class="content-section">
        <h2>FEATURE PRODUCTS</h2>
        <div class="prodContainer">
            <div class="product-item">
                <img src="https://opgg-static.akamaized.net/meta/images/lol/latest/champion/centered/Jayce_34.jpg" width="200" />
                <h3>T1 Jayce(Zeus)(FMVP)</h3>
                <p class="prodDescription">2023 Worlds Champs</p>
                <p class="prodPrice">1350 RP</p>
            </div>
            <div class="product-item">
                <img src="https://raw.communitydragon.org/pbe/plugins/rcp-be-lol-game-data/global/default/assets/characters/leesin/skins/skin68/images/leesin_splash_tile_68.skins_leesin_skin68.jpg" width="200" />
                <h3>T1 Lee Sin(Oner)</h3>
                <p class="prodDescription">2023 Worlds Champs</p>
                <p class="prodPrice">1350 RP</p>
            </div>
            <div class="product-item">
                <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/assets/characters/orianna/skins/skin38/images/orianna_splash_tile_38.skins_orianna_skin38.jpg" width="200" />
                <h3>T1 Orianna(Faker)</h3>
                <p class="prodDescription">2023 Worlds Champs</p>
                <p class="prodPrice">1350 RP</p>
            </div>
            <div class="product-item">
                <img src="https://i.ytimg.com/vi/JQ9EZUttVBA/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLD38F2MB0QxMLppeoLvdKwFEkeSDA" width="200" />
                <h3>T1 Jinx</h3>
                <p class="prodDescription">2023 Worlds Champs</p>
                <p class="prodPrice">1350 RP</p>
            </div>
            <div class="product-item">
                <img src="https://modelviewer.lol/_image?href=https%3A%2F%2Fcdn.modelviewer.lol%2Flol%2Ftiles%2F432035.webp&w=138&h=184&q=mid&f=webp" width="200" />
                <h3>T1 Bard</h3>
                <p class="prodDescription">2023 Worlds Champs</p>
                <p class="prodPrice">1350 RP</p>
            </div>
        </div>
    </section>
    <section id="productList">

    </section>




